.navbar {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 30px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  padding-top: 25px;
  position: relative; /* Needed for positioning the decorative line */
}

.navbar-item:hover {
  color: #007BFF; /* Add hover effect */
  text-decoration: underline;
}


.active::before {
  content: "";
  position: absolute;
  top: -7px; /* Adjust to position the shape above the text */
  left: 50%;
  transform: translateX(-50%);
  width: 60px; /* Width of the decorative line */
  height: 8px; /* Height of the decorative line */
  background: linear-gradient(90deg, #2830DC 30.5%, #0B9DF5 67%);    color: #fff;
  border-radius: 5px; /* Makes the edges curved */
}
